
.home-page h1, .home-page h2  {
	text-align: center;
}


.option {
	float:left;
	width:27%;
	margin:0 3%;
	height:420px;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.option span {
	/*color: rgb(8, 142, 248);*/
	color: rgb(192, 0, 8);
	font-style: italic;
	float:left;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	font-weight: bold;
}


.about-me {
	background: url('../imgs/about_me_img.jpg');
}

.about-me > .disp-none {
	background: url('../imgs/about_me_img_hover.jpg') !important;
}

.about-me:hover {
	background: url('../imgs/about_me_img_hover.jpg');
}

.portfolio {
	background: url('../imgs/portfolio_img.jpg');
}

.portfolio > .disp-none {
	background: url('../imgs/portfolio_img_hover.jpg') !important;
}

.portfolio:hover {
	background: url('../imgs/portfolio_img_hover.jpg');
}

.resume {
	background: url('../imgs/resume_img.jpg');
}

.resume > .disp-none {
	background: url('../imgs/resume_img_hover.jpg') !important;
}

.resume:hover {
	background: url('../imgs/resume_img_hover.jpg');
}

.links {
	width:40%;
	margin:0 30%;
	float: left;
}

.links img {
	float: left;
	width:15%;
	margin:0 9%;
}


.sidebar {
	float:left;
	width:27%;
	padding:0 3%;
	height:100%;
	border-right: 1px solid #DFDFDF;
}

.sidebar span {
	width: 90%;
	float: left;
	margin:20px 10% 20px 0;
	text-align: right;
}

.sidebar-button {
	width: 20px;
	height:100px;
	background-color: red;
	position: fixed;
	left:0;
	top:25%;
	display: none;
}

.content {
	width: 66%;
	float: left;

}

.content-holder {
	width:95%;
	float: left;
	margin-left: 5%;
}

.content-holder p {
	margin-left:5%;
	line-height: 1.5em;
}

.content-holder em {
	text-decoration: underline;
}

.content-holder h3 {
	font-size:36px;
}

.half-p {
	width:44%;
	float: left;
	margin: 15px 3%;
	text-align: justify;
}

.portfolio-nav-wrapper {
	width: 200%;
	float: left;
	margin:40px 0;
	padding: 15px 0;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	background-color: #F1EDED;
}

.portfolio-nav {
	width: 50%;
	float: left;

}

.portfolio-nav span {
	width: 20%;
	text-align: center;
	color: blue;
	float: left;
}

.portfolio-nav span:hover {
	background-color: blue;
}

.project-link {
	width: 96%;
	float: left;
	margin-left: 5%;
	text-decoration: none;
}