 body {
	font-size: 16px;
	font-family: 'verdana';
	margin:0;
	overflow-x: hidden;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzJjMmIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJjMmIyYiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(44,43,43,1) 0%, rgba(44,43,43,1) 48%, rgba(44,43,43,0) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(44,43,43,1)), color-stop(48%,rgba(44,43,43,1)), color-stop(50%,rgba(44,43,43,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(44,43,43,1) 0%,rgba(44,43,43,1) 48%,rgba(44,43,43,0) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(44,43,43,1) 0%,rgba(44,43,43,1) 48%,rgba(44,43,43,0) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(44,43,43,1) 0%,rgba(44,43,43,1) 48%,rgba(44,43,43,0) 50%); /* IE10+ */
	background: linear-gradient(to right,  rgba(44,43,43,1) 0%,rgba(44,43,43,1) 48%,rgba(44,43,43,0) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2b2b', endColorstr='#002c2b2b',GradientType=1 ); /* IE6-8 */

}

.page-wrapper {
	max-width:1100px;
	min-width:340px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	width:100%;
	background-color: #FFFFFF;
	float:left;
	border-top: 12px solid #616161;
	padding-top: 80px;

}

.disp-none {
	display: none;
}

body h1 {
	font-size: 23px;
	margin: 60px 0 20px;
	font-weight: normal;
	float: left;
	width: 100%;
	color: #8D8D8D;

}

body h2 {
	font-size: 34px;
	margin: 0 0 50px 0;
	float: left;
	width: 100%;
	color: #8D8D8D;

}