@media screen and (max-width: 750px) {
/*	.home-page h2 {
		width: 50%;
		margin: 0 25% 31px 25%;
	}*/


	.option {
		width:46%;
		margin:2%;
	}
	.half-p {
		width:44%;
		margin: 15px 3%;
	}

	.sidebar-button {
		display: block;
	}

	.sidebar {
		left:-75%;
		position: fixed;
		height:100%;
		width:75%;
		padding:0;
	}


	.sidebar-container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.content-holder {
		width: 92%;
		margin: 0 4%;
	}

	.content-holder h3 {
		font-size: 32px;
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		text-align: center;
	}

	.content {
			width:100%;
	}
	body h1, body h2 {
		position: relative;
		text-align: center;
	}

	body h1 {
		font-size: 18px;

	}

	body h2 {
		font-size: 26px;
	}


	.skills-container {
		width: 100%;
		margin:40px 0;
	}


}
