@media screen and (max-width: 540px) {


	.option {
		width:92%;
		margin:15px 4%;
	}

	.links img {
		width:30%;
		margin:20px 35%;
	}

	.content-holder h3 {
		font-size: 26px;
	}

	.half-p {
		width:92%;
		margin: 15px 4%;
	}

	.skills-container span {
		width: 100%;
	}

}