<div class='page-wrapper'>
	<div class='sidebar-container'>
		<div sidebar></div>
		<div class='content'>
			<div class='headbar-wrapper {{headbar}}'>
			</div>

			<div class='content-holder'>
				<h3>About me</h3>
				<div class='half-p'>
					<p>My name is Matthew Ross, and welcome to my web portfolio.</p>
					<p>I am a Javascript developer who is passionate about my profession. The maturation of Javascript into a well rounded MVC framework, server, and database excites me. The simplicity of creating rich and fast web applications stirs my creativitiy.</p>
					<p>After graduating from the <em>University of Washington</em> in 2011, I spent a little over a year working at a start-up web company, named <em>Priveazy</em>.</p>
				</div>
				<div class='half-p'>
					<p>Once I left Priveazy, I worked as an HVAC service technician (amoung many things). During this time I worked on several large web applications, inspired by demand in the industry.</p>
					<p>Last December I completed the <em>Code Fellows Javascript Boot Camp</em> which earned me a fuller understanding of the language, and introduced me to some new tools, such as Grunt</p>
				</div>
			</div>
			<div class='content-holder'>
				<h3>Skills</h3>
				<div class='half-p'>
					<span>Javascript</span>
					<span>jQuery</span>
					<span>Backbone</span>
					<span>Angular</span>
					<span>Mongodb</span>
					<span>NodeJS</span>
					<span>NPM</span>
					<span>Grunt</span>
					<span>PassportJS</span>
				</div>
				<div class='half-p'>
					<span>HTML5/CSS3</span>
					<span>Adobe Creative Suite</span>
					<span>UX/UI</span>
					<span>PHP</span>
					<span>MySQL</span>
					<span>KineticJS</span>
					<span>Heroku</span>
					<span>Git</span>
					<span>SEO</span>
				</div>
			</div>
			<div class='content-holder'>
				<h3>Education</h3>
					<p><i>Code Fellows Javascript Boot Camp (2013)</i></p>
					<p>A rigorous 2 month JavaScript course for qualified applicants (full-time)</p>
					<p><i>University of Washington (2011)</i></p>
					<p>Graduated from the Seattle campus with a degree in English. During my time there I had a job building, repairing, and wiping personal computers.</p>


			</div>
		</div>
	</div>
</div>