<div class='page-wrapper home-page'>
	<h1>MATTHEW ROSS</h1>
	<h2>full stack<br />javascript<br />developer</h2>
	<a href='#/about-me'>
		<div class='option about-me'>
			<div class='disp-none'></div>
			<span>about me</span>
		</div>
	</a>
	<a href='#/portfolio'>
		<div class='option portfolio'>
			<div class='disp-none'></div>
			<span>portfolio</span>
		</div>
	</a>
	<a href='#/resume'>
		<div class='option resume'>
			<div class='disp-none'></div>
			<span>resume</span>
		</div>
	</a>
	<div class='skill-container'>


	</div>
</div>