<div class='page-wrapper'>
	<div class='sidebar'>
		<h1>MATTHEW ROSS</h1>
		<h2>full stack<br />javascript<br />developer</h2>
		<span>about me</span>
		<span>portfolio</span>
		<span>resume</span>
	</div>
	<div class='content'>
		<div class='portfolio-nav-wrapper'>
			<div class='portfolio-nav'>
				<h4>Portfolio</h4>
				<!-- <span>redside</span> -->
<!-- 				<span>trade pro</span>
				<span>pm</span>
				<span>alpine aire</span>
				<span>priveazy</span> -->
			</div>
		</div>
		<div class='content-holder'>
			<h3>Redside Property Management</h3>
			<a class='project-link' href='' target='_blank'>redside.herokuapp.com</a>
			<div class='half-p'>
				<p>A property management website designed to attract new tenants, and property clients. This website is designed with an incredible map feature, that offers a much richer experience than typical map overlays.</p>
				<p>Flexible and fast, this application is built using an <em>AngularJS</em> framework. Listings are managed using <em>monogodb</em> and a <em>nodejs</em> server.</p>
			</div>
			<div class='half-p'>
				<p>SEO is a priority for Redside partners. To work around the limitations of AJAX SEO, I implemented <em>gruntHTMLsnapshot</em>, a tool that generates 'snapshots' of pre-rendered html to serve to search engines.</p>
				<p>Redside partners is designed to be beautifully <em>responsive</em>.</p>
				<p>This website is still under heavy construction. Only the 'maps' features and the 'Learn More' button are operational</p>
			</div>
		</div>
	</div>
</div>