<div class='page-wrapper'>
	<div class='sidebar-container'>
		<div sidebar></div>
		<div class='content'>
			<div class='headbar-wrapper {{headbar}}'>
			</div>

			<div class='content-holder resume-holder'>
				<h3>Resume</h3>
					<h5>Hey download the pdf <a href='/resume_matthew_ross.pdf' target='_blank'>here</a> !</h5>
					<p>I am a JavaScript developer focused on creating beautiful, fast, and flexible web applications. My current development stack of choice consists of Angular, Node, and MongoDB. I love how these technologies can work elegantly together to create awesome applications.</p>
					<span>Development Projects</span>
					<p>All of the websites displayed below were created by yours truly:</p>
					<p><i>Redside Property Management</i> - <a href='http://redside.herokuapp.com/' target="_blank">redside.herokuapp.com</a></p>
						<ul>
							<li>Angular, Node, Mongo, Grunt</li>
							<li>Responsive Design</li>
							<li>Rich Google maps feature with custom overlay</li>
							<li>Database designed to handle specific queries (# of rooms, bathrooms, washer/dryer, etc.)</li>
						</ul>
					<p><i>TradePro</i> - <a href='http://tradepro.herokuapp.com/' target="_blank">tradepro.herokuapp.com</a></p>
						<ul>
							<li>Backbone, Node, Mongo, KineticJS, PassportJS, Grunt</li>
							<li>Replicates circuitry found in HVAC equipment</li>
							<li>Interactive Volt Meter, Thermostat, and Breaker</li>
							<li>Custom skill reports broken down by electrical component</li>
						</ul>
					<p><i>PM Project</i> - (no website available)</p>
						<ul>
							<li>Backbone, Node, Mongo, Grunt</li>
							<li>Customer management application for HVAC industry</li>
							<li>Database manages customer information, customer equipment, and service history</li>
							<li>Data is interpreted to provide system health information</li>
						</ul>
					<p><i>Alpine Aire</i> - <a href='http://www.alpineaire.net/' target="_blank">alpineaire.net</a></p>
						<ul>
							<li>PHP, Javascript, HTML/CSS</li>
							<li>SEO (moved Alpine Aire to top of page 1 in Wenatchee, Wa)</li>
							<li>Managed Facebook and Google AdWords campaigns</li>
							<li>Separate mobile website available</li>
						</ul>
					<span>Education</span>
					<p><i>Code Fellows Javascript (2013)</i> - A rigorous 2 month JavaScript course for qualified applicants (full-time)</p>
					<p><i>University of Washington (2011)</i> - Graduated from the Seattle campus with a degree in English. During my time there I had a job building, repairing, and wiping personal computers.</p>
					<span>Employment History</span>
					<p><i>Priveazy (2011 - 2012)</i></p>
						<ul>
							<li>A start-up website founded by a former Microsoft employee</li>
							<li>HTML / CSS, JavaScript, PHP, Adobe Creative Suite, Content Development</li>
							<li>Worked closely with founder to define user experience</li>
							<li>Designed mockups to suggest site improvements</li>
							<li>Created project deadlines with founder to monitor performance</li>
							<li>Animated videos (and narration) using Adobe Suite</li>
						</ul>
					<p><i>HVAC Service Technician</i></p>
						<ul>
							<li>This job has taught me more about hard work than could be put into words. I have done this job on and off over the past 4 years.</li>
						</ul>

					<p></p>
					<p>Matthew Ross</p>
					<p>mbahoshy@gmail.com</p>
					<p>(253) 228-8586</p>
					<p></p>
					<p><a target='_blank' href='https://github.com/mbahoshy'>Github</a></p>
					<p><a target='_blank' href='https://www.linkedin.com/in/mbahoshy'>LinkedIn</a></p>
					<p><a target='_blank' href='http://mbahoshy.wordpress.com/'>WordPress</a></p>


				
			</div>
		</div>
	</div>
</div>